<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MATHS ANSWERS</h1>
    <h2>Results for <%= a %> and <%= b %>:</h2>
    <p>Addition <%= add %></p>
    <p>Subtraction <%= sub %></p>
    <p>Multiplication <%= mul %></p>
    <p>Division <%= div %></p>
</body>
</html>